In [118]:
import numpy as np 
import math 
import pandas as pd
import seaborn as sn
from sklearn import preprocessing
from numpy import asarray
%matplotlib inline

In [88]:
#data
data = [18, 8, 22, 10, 12, 5, 4, 32, 2, 9, 16, 25, 26, 28] 
#no of bins 
m = 3
data

[18, 8, 22, 10, 12, 5, 4, 32, 2, 9, 16, 25, 26, 28]

In [89]:
def equiwidthbinning(arr1, m): 
    a = len(arr1) 
    w = int((max(arr1) - min(arr1)) / m) 
    min1 = min(arr1) 
    arr = [] 
    for i in range(0, m + 1): 
        arr = arr + [min1 + w * i] 
    arri=[] 
      
    for i in range(0, m): 
        temp = [] 
        for j in arr1: 
            if j >= arr[i] and j <= arr[i+1]: 
                temp += [j] 
        arri += [temp] 
    print(arri)

In [90]:
print("\n Data after being put into 3 equal bins ") 
equiwidthbinning(data, 3)

 Data after being put into 3 equal bins
[[8, 10, 12, 5, 4, 2, 9], [18, 22, 12, 16], [22, 32, 25, 26, 28]]

In [91]:
a = [8, 10, 12, 5, 4, 2, 9]
b = [18, 22, 12, 16]
c = [22, 32, 25, 26, 28]

In [92]:
a
a.sort()
a

[2, 4, 5, 8, 9, 10, 12]

In [93]:
b.sort()
b

[12, 16, 18, 22]

In [94]:
c.sort()
c

[22, 25, 26, 28, 32]

In [96]:
bin1= [18, 8, 22, 10]
bin2= [12, 5, 4, 32]
bin3= [2, 9, 16, 25]

In [ ]:
#Normalize the same data above with three techniques:
#min-max (to range 10 to 20),
#standardization,
#and decimal scaling.
#What value gets mapped to 0 in each case? What are the min and max values after normalization with each?

18, 8, 22, 10, 12, 5, 4, 32, 2, 9, 16, 25, 26, 28

In [133]:
#Normalize the same data above with three techniques:
#min-max (to range 10 to 20),
data = np.array([18, 8, 22, 10, 12, 5, 4, 32, 2, 9, 16, 25, 26, 28]).reshape(-1, 1)
scaler = MinMaxScaler(feature_range=(10, 20))
scaler.fit(data)
print(scaler.transform(data))
y = scaler.transform(data)
#What value gets mapped to 0 in each case?
#What are the min and max values after normalization with each?

[[15.33333333]
 [12.        ]
 [16.66666667]
 [12.66666667]
 [13.33333333]
 [11.        ]
 [10.66666667]
 [20.        ]
 [10.        ]
 [12.33333333]
 [14.66666667]
 [17.66666667]
 [18.        ]
 [18.66666667]]

In [140]:
print("Minimum value after Min-Max normalization is :",y.min())
print("Maximum value after Min-Max normalization is :",y.max())

Minimum value after Min-Max normalization is : 10.0
Maximum value after Min-Max normalization is : 20.0

In [149]:
#Standardization
# standardization of dependent variables
standard = preprocessing.scale(data)
print("After standardizing, the new values are ",standard)

After standardizing, the new values are  [[ 0.26526572]
 [-0.79579716]
 [ 0.68969087]
 [-0.58358459]
 [-0.37137201]
 [-1.11411603]
 [-1.22022232]
 [ 1.75075376]
 [-1.43243489]
 [-0.68969087]
 [ 0.05305314]
 [ 1.00800974]
 [ 1.11411603]
 [ 1.3263286 ]]

In [153]:
print("Max value after standardizing is",standard.max())
print("Min value after standardizing is",standard.min())

Max value after standardizing is 1.7507537580570904
Min value after standardizing is -1.4324348929558013

In [169]:
df = pd.DataFrame(data, columns=['Column'])
df

    Column
0       18
1        8
2       22
3       10
4       12
5        5
6        4
7       32
8        2
9        9
10      16
11      25
12      26
13      28

In [170]:
def Dec_scale(df):
    for x in df:
        print(df)
        p = df[x].max()
        q = len(str(abs(p)))
        df[x] = df[x]/10**q 

Dec_scale(df)
print("After using decimal scaling, the new values are df \n",df)

    Column
0       18
1        8
2       22
3       10
4       12
5        5
6        4
7       32
8        2
9        9
10      16
11      25
12      26
13      28
After using decimal scaling, the new values are df
     Column
0     0.18
1     0.08
2     0.22
3     0.10
4     0.12
5     0.05
6     0.04
7     0.32
8     0.02
9     0.09
10    0.16
11    0.25
12    0.26
13    0.28

In [171]:
data3 = np.array([18.5, 8.44, 22, 10, 12, 5, 4, 32, 2, 9, 16, 25, 26, 28]).reshape(-1, 1)
df = pd.DataFrame(data3, columns=['Column'])
print(df)
def Dec_scale(df):
    for x in df:
        print(df)
        p = df[x].max()
        q = len(str(abs(p)))
        df[x] = df[x]/10**q 

Dec_scale(df)
print("After using decimal scaling, the new values are df \n",df)

    Column
0    18.50
1     8.44
2    22.00
3    10.00
4    12.00
5     5.00
6     4.00
7    32.00
8     2.00
9     9.00
10   16.00
11   25.00
12   26.00
13   28.00
    Column
0    18.50
1     8.44
2    22.00
3    10.00
4    12.00
5     5.00
6     4.00
7    32.00
8     2.00
9     9.00
10   16.00
11   25.00
12   26.00
13   28.00
After using decimal scaling, the new values are df
       Column
0   0.001850
1   0.000844
2   0.002200
3   0.001000
4   0.001200
5   0.000500
6   0.000400
7   0.003200
8   0.000200
9   0.000900
10  0.001600
11  0.002500
12  0.002600
13  0.002800